.one{
    width:20%;
    padding-left: 65px;
    position: relative;
    margin-top: 10%;
}
.one:hover{
    box-shadow: 0px 0px 20px  rgb(241, 46, 104);
}
h1{
    font-size: 20px;
}
button{
    margin-bottom: 25px;
}
.two{
    position: relative;
    top: -350px;
    left: 300px;
    width:25%;
    padding-left: 65px;
}
.two:hover{
    box-shadow: 0px 0px 20px  rgb(241, 46, 104);
}
.three{
    position: relative;
    top: -700px;
    left: 600px;
    width:23%;
    padding-left: 65px;
}
.three:hover{
    box-shadow: 0px 0px 20px  rgb(241, 46, 104);
}
.four{
    position: relative;
    top: -1100px;
    left:950px ;
    width:15%;
    padding-left: 65px;
}
.four:hover{
    box-shadow: 0px 0px 20px  rgb(241, 46, 104);
}
.total{
    display: inline;
    margin-left: 30px;
}
.five{
    position: relative;
    top: -1050px;
    left:950px ;
    width:15%;
    padding-left: 65px;

}
.five:hover{
    box-shadow: 0px 0px 20px  rgb(241, 46, 104);
}
.six{
    position: relative;
    top: -1420px;
    left: 600px;
    width:15%;
    padding-left: 65px;

}
.six:hover{
    box-shadow: 0px 0px 20px  rgb(241, 46, 104);
}
.seven{
    position: relative;
    top: -1790px;
    left: 300px;
    width:24%;
    padding-left: 65px;

}
.seven:hover{
    box-shadow: 0px 0px 20px  rgb(241, 46, 104);
}
.eight{
    position: relative;
    top: -2150px;
   left: 20px;
    width:15%;
    padding-left: 65px;
}
.eight :hover{
    box-shadow: 0px 0px 20px  rgb(241, 46, 104);
}
a{
    text-decoration: none;
    color: white;
}
.logo{
    display: inline;
    width:10%;
    border-radius: 50%;
    top: 20px;
}
h2{
    position: relative;
    display: inline;
   left: 35%;
   top: -45px;
}
.head{
    position: sticky;
    top: 1px;
    z-index: 2;
    background-color: rgb(241, 46, 104) ;
    font-size: 35px;
    color: white;
    box-shadow: 0px 0px 20px  rgb(241, 46, 104) ;
} 
ul{
    position: relative;
    display: inline;
    margin-left: 75%;
    top: -25px;
}
li{
    display: inline;
}