*{
    margin: 0%;
}



.one{
    width:15%;
    padding-left: 65px;
}
.one:hover{
    box-shadow: 0px 0px 20px  rgb(241, 46, 104);
}
h1{
    font-size: 20px;
}
button{
    margin-bottom: 25px;
}
.two{
    position: relative;
    top: -410px;
    left: 300px;
    width:15%;
    padding-left: 65px;
}
.two:hover{
    box-shadow: 0px 0px 20px  rgb(241, 46, 104);
}
.three{
    position: relative;
    top: -835px;
    left: 600px;
    width:15%;
    padding-left: 65px;
}
.three:hover{
    box-shadow: 0px 0px 20px  rgb(241, 46, 104);
}
.four{
    position: relative;
    top: -1250px;
    left:950px ;
    width:15%;
    padding-left: 65px;
}
.four:hover{
    box-shadow: 0px 0px 20px  rgb(241, 46, 104);
}

.five{
    position: relative;
    top: -1050px;
    left:950px ;
    width:15%;
    padding-left: 65px;

}
.five:hover{
    box-shadow: 0px 0px 20px  rgb(241, 46, 104);
}
.six{
    position: relative;
    top: -1420px;
    left: 600px;
    width:15%;
    padding-left: 65px;

}
.six:hover{
    box-shadow: 0px 0px 20px  rgb(241, 46, 104);
}
.seven{
    position: relative;
    top: -1850px;
    left: 300px;
    width:19%;
    padding-left: 65px;

}
.seven:hover{
    box-shadow: 0px 0px 20px  rgb(241, 46, 104);
}
.eight{
    position: relative;
    top: -2250px;
   left: 20px;
    width:15%;
    padding-left: 65px;
}
.eight :hover{
    box-shadow: 0px 0px 20px  rgb(241, 46, 104);
}
.mc{
    position: relative;
    top: -2200px;
    left: 35%;
    background-color: rgb(241, 46, 104);
    width: 25%;
    padding-left: 155px;
    height: 45px;
    padding-top: 25px;
    border-radius: 25px;
    color: white;
    font-size: 35px;
}
a{
    text-decoration: none;
    color: white;
}
.logo{
    display: inline;
    width:10%;
    border-radius: 50%;
    top: 20px;
}
h2{
    position: relative;
    display: inline;
   left: 35%;
   top: -45px;
}
.head{
    position: sticky;
    top: 1px;
    z-index: 2;
    height: 155px;
    background-color: rgb(241, 46, 104) ;
    font-size: 35px;
    color: white;
    box-shadow: 0px 0px 20px  rgb(241, 46, 104) ;
} 
ul{
    position: relative;
    display: inline;
    margin-left: 75%;
    top: -45px;
}
li{
    display: inline;
}
button{
    height: 45px;
    width: 95px;
    background-color: rgb(241, 46, 104);
    color: white;
    font-size: 15px;
    border-color: rgb(241, 46, 104);
}